 .social-icon {
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s, transform 0.3s;
    }

    .social-icon i {
        margin-right: 5px;
        font-size: 1.1rem;
    }

    /* Email color: blue */
    .social-icon.email {
        color: #007bff;
    }

    .social-icon.email:hover {
        color: #0056b3;
        transform: scale(1.1);
    }

    /* Instagram gradient color */
    .social-icon.instagram {
        color: #E1306C;
        /* أساس اللون الوردي */
    }

    .social-icon.instagram:hover {
        color: #C13584;
        /* يتغير عند Hover */
        transform: scale(1.1);
    }

/* pagination buttons */
.pagination .page-link {
    border-radius: 50% !important;
    margin: 0 3px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0d6efd;
    border: none;
    transition: background 0.3s;
}

.pagination .page-link:hover {
    background-color: #0b5ed7;
}

.pagination .page-item.active .page-link {
    background-color: #198754; /* لون مختلف للـ active */
    border-color: #198754;
}
